@import 'mixins';
html{
   
    background-image: url(../deadpool/22986-deadpool.jpg);
     @include init;
}
body
{
    margin: 0;
}
.logo{
    position: fixed;
    padding-left: 25px;
}

.postitle
{
    @include foto-title;
}
.divtexto
{
    @include resumen;
}
.divtexto2
{
    @include trailerfont
}
.divposvid
{
    @include trailervid;
}
.boton
{
    @include boton1;
}
button{
    @include boton2;
}
a
{
    color: rgb(240, 214, 187);
}
.encabezado
{
    @include encabezado;
}
.menu
{
    @include menuu;
}
.desplegable-li
{
    @include desplegable-li;
}
.desplegable-li:hover .desplegable
{
    @include desplegable-hover
}
.desplegable
{
    @include desplegable
}
nav a
{
    @include nav-a
}