html{
    background-image: url(../IniciosesionFYM/cine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    content: normal;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin: 0;
}
.logo{
    position: fixed;
    padding-left: 25px;
}
.encabezado

{
    background-color: rgb(240, 214, 187);
    width: 100%;
    height: 95px;
    background-size: 100%;
    position: fixed;
    z-index: 1000;
}
.menu
{
    display: flex;
    gap: 10px;
    list-style: none;
    background-color: none;
    position: fixed;
    right: 40px;     
    background-size: 100%;
    z-index: 1000;
    padding-top: 30px;

}
.menu li
{
    padding: 10px 4px;
    background-color: rgb(53, 53, 53);
    float: right;
    border-radius: 4px;
}
.desplegable-li
{
    position: relative;
    transition: .3s ease;
    list-style: none;
    color: rgb(240, 214, 187);
    padding: 5px;
}
.desplegable-li:hover .desplegable
{
    display: block;
    opacity: 1;

}
.desplegable
{
    background-color: rgb(61, 61, 61);
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    display: none;
    list-style: none;
}
nav a
{
    text-align: justify;
    padding: 5px;
    color: rgb(240, 214, 187);
    text-decoration: none;
}
.contenedor
{
    border: solid aqua 4px;
    height: 240px;
    width: 60%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
