/* Parte del menu */
html{
    background-image: url(../IniciosesionFYM/cine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    content: normal;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin: 0;
}
.logo{
    position: fixed;
    padding-left: 25px;
}
/*  */
.Buscador {
    position: absolute;
    left: 15%;
    top: 21%;
    transform: translate(0%,-50%);
    padding: 50px;
    
}

input {
    background-color: rgba(53, 53, 53, .8);
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 140px;
    padding: 0 20px;
    color: rgb(160, 138, 127) ;
    border-radius: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border: 1px solid #000000;
    transition: all .3s ease;
    text-shadow: #000 70%;
    color: rgb(240, 214, 187);
}
h1{
    opacity: none;
}

::placeholder {

    color: rgb(240, 214, 187)
}

.Buscador:hover input {
    width: 1000px;}

.contenedorpeli
{
    width: 60%;
    height: fit-content;
    position: absolute;
    align-content: center;
    top: 65%;
    left: 25%;
    border-style: solid;
    border-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pelicula
{
    background-size: cover;
    display: flexbox;
    flex-direction: row;
    width: 225px;
    height: 325px;
    border-radius: 15px;
}

    /* Diseño del menu desplegable */

    /* rem en todas las unidades de tu CSS te permite aumentar el tamaño tu pagina 
    (ya sea por cambio de diseño o por tamaño de la pantalla) con solo aumentar o 
    disminuir el font-size en el elemento html  */
    .encabezado

    {
        background-color: rgb(240, 214, 187);
        width: 100%;
        height: 95px;
        background-size: 100%;
        position: fixed;
        z-index: 1000;
    }
    .menu
    {
        display: flex;
        gap: 10px;
        list-style: none;
        background-color: none;
        position: fixed;
        right: 40px;     
        background-size: 100%;
        z-index: 1000;
        padding-top: 30px;

    }
    .menu li
    {
        padding: 10px 4px;
        background-color: rgb(53, 53, 53);
        float: right;
        border-radius: 4px;
    }
    .desplegable-li
    {
        position: relative;
        transition: .3s ease;
        list-style: none;
        color: rgb(240, 214, 187);
        padding: 5px;
    }
    .desplegable-li:hover .desplegable
    {
        display: block;
        opacity: 1;

    }
    .desplegable
    {
        background-color: rgb(61, 61, 61);
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        opacity: 0;
        display: none;
        list-style: none;
    }
    nav a
    {
        text-align: justify;
        padding: 5px;
        color: rgb(240, 214, 187);
        text-decoration: none;
    }
    /* menu terminado */
    /* estilado de la pelicula semanal */
    .pelicula-semanal
    {
        display: flex;
        width: 600px;
        height: 430px;
        position: absolute;
        left: 35%;
        top: 25%;
    }
    .semanal
    {
        display: flex;
        width: 600px;
        height: 230px;
        flex-grow: 1;
    }
    .semanal img
    {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }
    .semanal img:hover 
    {
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
footer
{
    background-color: rgb(240, 214, 187);    
    position: absolute;
    top: 180%;
    color: rgb(53, 53, 53);
    width: 100%;
}
.nosotros
{
    width: 400px;
    float: right;
    height: 40px;
    border-color: rgb(53, 53, 53);
    padding: 7px 5px;
    color: rgb(53, 53, 53);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
.slide{

    width: 265px;
    height: auto;
    margin: auto;
    overflow: hidden;
    float: left;
    position: fixed;
    left: 4%;
    top: 35%;
}

.slide .slide-track{
    display: flex;
    animation: scroll 20s linear infinite;
    width: calc(200px * 14);

}
.slide .slid {
    width: 200px;
}
.slide .slid img {
    width: 100%;
    height: 100%;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-200px * 7));
    }
}
.pelicula .filtro
{
    display: none;
}